
img {
position: absolute;
top: 0;
left: 0;
}
h1 {
font-family: sans-serif;
text-align: center;
}
p {
margin: 0 0 10;
text-align: center;
font-family: georgia;
}
#board {
position: relative;
margin: 0 auto;
width: 640px;
height: 500px;
}
.actions {
margin-top: 6px;
text-align: center;
}
.circle {
position: absolute;
border-radius: 50%;
width: 58px;
height: 58px;
border: solid 6px rgba(0, 0, 0, 0.08);
transition: all 75ms;
}
.circle.falling {
transition: all 150ms;
}
.circle.red {
background-color: red;
}
.circle.yellow {
background-color: yellow;
}
