<ion-item-sliding>
	<ion-item-options side="start">
		<ion-item-option onClick="favorite(item)">Favorite</ion-item-option>
		<ion-item-option color="danger" onClick="share(item)">Share</ion-item-option>
	</ion-item-options>
	<ion-item>
		<img class="item-img" src="{{ item.flag }}" style="width: 100px;" />
		<h3 class="item-name">{{item.name}}</h3>
		<div class="item-region">{{item.region}}</div>
		<div class="item-domain" slot="end"> {{item.topLevelDomain}} </div>
	</ion-item>

	<ion-item-options side="end">
		<ion-item-option onClick="unread(item)">Unread</ion-item-option>
	</ion-item-options>
</ion-item-sliding>